---
---
Checks:          'hicpp-use-equals-default,
                  -clang-analyzer-optin.performance.Padding,
                  -clang-analyzer-security.insecureAPI.rand,
                  -clang-analyzer-security.FloatLoopCounter,
                  '
HeaderFilterRegex: './src/*'
