[submodule "external/earcut.hpp"]
	path = external/earcut.hpp
	url = https://github.com/mapbox/earcut.hpp.git
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui
[submodule "external/ImGuiColorTextEdit"]
	path = external/ImGuiColorTextEdit
	url = https://github.com/BalazsJako/ImGuiColorTextEdit.git
[submodule "external/RuntimeCompiledCPlusPlus"]
	path = external/RuntimeCompiledCPlusPlus
	url = https://github.com/RuntimeCompiledCPlusPlus/RuntimeCompiledCPlusPlus.git
[submodule "external/backward-cpp"]
	path = external/backward-cpp
	url = https://github.com/bombela/backward-cpp.git
[submodule "external/ios-cmake"]
	path = external/ios-cmake
	url = https://github.com/leetal/ios-cmake.git
